In [ ]:
%pip install pandas

In [2]:
import pandas as pd

## Two Types of Data Structures in Pandas

- Series
- DataFrame

In [7]:
s = pd.Series(["sanket", "soham", "shruti", "shreya"], index=["1", "2", "3", "4"])
s

1    sanket
2     soham
3    shruti
4    shreya
dtype: object

In [8]:
df = pd.DataFrame({
    "names":["sanket","John","Jacab"],
    "marks":["100","25","75"]
})

df

    names marks
0  sanket   100
1    John    25
2   Jacab    75

In [11]:
df = pd.read_csv("industry_sic.csv")
df

     SIC Code                                        Description
0        1110  Growing of cereals (except rice), leguminous c...
1        1120                                    Growing of rice
2        1130  Growing of vegetables and melons, roots and tu...
3        1140                              Growing of sugar cane
4        1150                                 Growing of tobacco
..        ...                                                ...
726     98000                      Residents property management
727     98100  Undifferentiated goods-producing activities of...
728     98200  Undifferentiated service-producing activities ...
729     99000  Activities of extraterritorial organizations a...
730     99999                                    Dormant Company

[731 rows x 2 columns]

In [12]:
df.head()

   SIC Code                                        Description
0      1110  Growing of cereals (except rice), leguminous c...
1      1120                                    Growing of rice
2      1130  Growing of vegetables and melons, roots and tu...
3      1140                              Growing of sugar cane
4      1150                                 Growing of tobacco

In [13]:
df.describe()

           SIC Code
count    731.000000
mean   43925.389877
std    26478.315319
min     1110.000000
25%    23465.000000
50%    46120.000000
75%    64301.500000
max    99999.000000